/* Estilos para el contenedor del formulario de inicio de sesión */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Agregar un fondo blanco */
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="password"] {
  width: calc(100% - 20px); /* Considerar el padding para mantener el ancho adecuado */
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease; /* Agregar transición para el cambio de color del borde */
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #00a2ff; /* Cambiar el color del borde al enfocar el campo */
}

/* Estilos para el botón */
button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #00a2ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Agregar transición al color de fondo */
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para mensajes de error u otros mensajes */
.error-message {
  color: #ff0000; /* Color rojo para mensajes de error */
  margin-bottom: 15px;
  font-size: 14px;
}

/* Otros estilos según sea necesario */
/* ... */
/* Estilos para el título "Login" */
.login-container h2 {
  text-align: center; /* Centrar el texto */
  margin-bottom: 20px; /* Espacio hacia abajo después del título */
  color: #333; /* Color del texto */
}

/* Resto de tus estilos */
/* ... */
